<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/w3.css" rel="stylesheet" type="text/css">
    <title>C# to Python</title>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="" class="w3-bar-item w3-button"><b>C#</b> / <b>Python</b></a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                
                <a href="/doc" class="w3-bar-item w3-button">Documentacion</a>
                <a href="https://github.com/carlostex98/c-py" class="w3-bar-item w3-button">Github</a>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>

    <div class="w3-content w3-padding-48">
        <h2>Resultado de la compilacion</h2>

        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openCity(event, 'London');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Tokens</div>
            </a>
            <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Errores</div>
            </a>
            <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Resultados</div>
            </a>
        </div>

        <div id="London" class="w3-container city" style="display:none">
            <br>
            <table class="w3-table w3-striped w3-border">
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Linea</th>
                    <th>Columna</th>
                </tr>

                <% tokens.forEach(function(token){ %>
                    <tr>
                        <td><%= token[0]%></td>
                        <td><%= token[1]%></td>
                        <td><%= token[2]%></td>
                        <td><%= token[3]%></td>
                        <td><%= token[4]%></td>
                    </tr>

                <% })%>
                    
            </table>
        </div>

        <div id="Paris" class="w3-container city" style="display:none">
            <br>
            <table class="w3-table w3-striped w3-border">
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Linea</th>
                    <th>Columna</th>
                    <th>Descripcion</th>
                </tr>

                <% errores.forEach(function(ert){ %>
                    <tr>
                        <td><%= ert[0]%></td>
                        <td><%= ert[1]%></td>
                        <td><%= ert[2]%></td>
                        <td><%= ert[3]%></td>
                        <td><%= ert[4]%></td>
                    </tr>

                <% })%>
                    
            </table>
            
        </div>

        <div id="Tokyo" class="w3-container city" style="display:none">
            <div>
                <h2>Variables</h2>
                <table class="w3-table w3-striped w3-border">
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Linea</th>
                        
                    </tr>
    
                    <% variables.forEach(function(ert){ %>
                        <tr>
                            <td><%= ert[0]%></td>
                            <td><%= ert[1]%></td>
                            <td><%= ert[2]%></td>
                            
                        </tr>
    
                    <% })%>
                        
                </table>
            </div>

            <br>
            <br>
            <div>
                <h2>Codigo Python</h2>
                <a href="/python.py" class="w3-btn w3-black">Descargar Python</a>
                <div class="w3-code">
                    <textarea class="w3-input w3-border w3-light-gray" style="height: 600px;" name="texto"
                        id="texto" readonly ><%= python%></textarea>
                    
                </div>
            </div>


            <br>
            <br>
            <div>
                <h2>Codigo HTML</h2>
                <a href="/rec_html.html" class="w3-btn w3-black">Descargar html</a>
                <div class="w3-code">
                    <%= ht%>
                </div>
            </div>


            <br>
            <br>
            <div>
                <h2>JSON</h2>
                <a href="/rec_json.json" class="w3-btn w3-black">Descargar JSON</a>
                <div class="w3-code">
                    <%= superjsx%>
                </div>
            </div>
        </div>
    </div>


    <script>
        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-border-red";
        }
    </script>


</body>

</html>